html, body {
    width: 100%;
}

#userTableDiv {
    margin-right: 250px;
}

th {
    text-align: left;
    color: white;
    background-color: #489ec9;
}

th, td {
    padding: 15px;
}

table {
    margin: 0 auto;
    width: 90%;
}

#addUserDiv {
    display: block;
    margin-top: 20px;
    margin-left: 90px;
    position: relative;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    text-align: center;
}

.editBtn, .deleteBtn, #addBtn {
    background-color: #489ec9;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.deleteBtn {
    margin-left: 10px;
}

.editBtn:hover, .deleteBtn:hover, #addBtn:hover {
    background-color: RoyalBlue;
}

body {
    background-color: #DCDCDC;
}


#registerDiv {
    position: fixed;
    display: none;
    z-index: 3;
    left: 25%;
    top: 25%;
    width: 400px;
    margin: auto;
    background-color: #fefefe;
    overflow: hidden;
    border: 1px solid #888;
}

#registerDiv {
    height: 360px;
}

#registercontent {
    padding-top: 45px;
    margin: auto;
    width: 100%;
}

input[type=text], input[type=password], input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}

.registerSubmit {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    width: 90%;
    font-size: 20px;
}

.closeRegisterBox:hover, .closeRegisterBox:focus {
    color: red;
    cursor: pointer;
}


.closeRegisterBox {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}





