body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapid {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    z-index: 1;
}

#usercontrol {
    position: absolute;
    display: none;
    flex-direction: column;
    /*margin-left: 70%;*/
    height: 100%;
    width: 75%;
    top: -40px;
    right: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mapheader {
    position: absolute;
    height: auto;
    width: auto;
    padding: 2% 5px 10px 5%;
    z-index: 2;
    display:inline-block;
}


.homeBtn {
    background-color: #489ec9;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}


.homeBtn:hover {
    background-color: RoyalBlue;
}


#nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    list-style: none;
}

#nav li {
    float: left;
    padding: 5px;
}

#nav li a select {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    font-size: 1.3em;
    border-right: 1px solid #fff;
}

#nav li:hover {
    color: #1A2739;
    background-color: #B8DBF2;
}

.measureSliderTitle {
    color: white;
    /*margin: auto;*/
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.measureSlider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    width: 100%;
}

#measuresContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    /*bottom: 10px;*/
}

#summaryBox {
    /*display: block;*/
    display: block;
    height: 25%;
    width: 100%;
    margin: 0 auto 50px auto;
    border: 2px solid;
    text-align: justify;
    font-family: sans-serif, 'Helvetica', 'Arial';
    color: #489ec9;
    background-color: #1A2739;
}

#buttons {
    /*display: flex;*/
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 5%;
}

#loginDiv, #registerDiv, #loadWeightsDiv, #aboutDiv {
    position: absolute;
    display: none;
    z-index: 3;
    left: 30%;
    top: 25%;
    width: 400px;
    margin: auto;
    background-color: #fefefe;
    overflow: hidden;
    border: 1px solid #888;
}

#loginDiv {
    height: 250px;
}

#registerDiv {
    height: 360px;
}
#aboutDiv{
    width: 450px;
    height: 400px;
}

#loadWeightsDiv {
    height: 360px;
    width: 600px;
    text-align: left;
}

#loadWeightsDiv a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logincontent, #registercontent {
    padding-top: 45px;
    margin: auto;
    width: 100%;
}

input[type=text], input[type=password], input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}

.loginSubmit, .registerSubmit {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    width: 90%;
    font-size: 20px;
}

.closeLoginBox:hover, .closeLoginBox:focus {
    color: red;
    cursor: pointer;
}


.closeLoginBox {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.closeAboutBox {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#algorithmChoiceDiv {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 45%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    width: 50%;
    /*max-width : 250px*/
}

#algorithmChoice {
    font-size: 18px;
    width: 200px;
}


#infoPopup {
    position: absolute;
    top: 20px;
    right: 370px;
    z-index: 2;
    display: none;
    height: auto;
    width: auto;
    font-size: 13px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    height: 12px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    top: -5px;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    cursor: pointer;
}

output {
    position: relative;
    display: none;
    width: 50px;
    height: 24px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
    bottom: 50px;
}

input[type=range]:active + output {
    display: block;
    transform: translateX(-50%);
}

#stateDropdown {
    float: left;
    overflow: hidden;
}

#stateDropdownContent {
    display: none;
    /*position: absolute;*/
}

.userLog {
    clear: both;
}

.algoButtons {
    background-color: #489ec9;
    border: none;
    color: white;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
}

.algoButtons:hover {
    background-color: RoyalBlue;
}

.saveLoadButton {
    background-color: #489ec9;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    position: relative;
}

.saveLoadButton:hover {
    background-color: RoyalBlue;
}



#updateButton {
    display: inline-block;
    right: 180px;
}

#stopButton {
    left: 180px;
    display: none;
}
#resetButton {
    left: 180px;
    display: none;
}
#pauseButton {
    display: none;
    margin-right: 100px;
}

#runButton {
    margin-right: 100px;
}
table#info tr:nth-child(even) {
    background-color: #eee;
}
table#info tr:nth-child(odd) {
    background-color: #fff;
}
table#info th {
    color: white;
    background-color: black;
}
#search {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

:disabled, :disabled:hover {
    background-color: gray;
}

#search:focus {
    width: 50%;
}

table, th, td {
    border-collapse: collapse;
}

#aboutDiv table, #aboutDiv th, #aboutDiv td {
    border: 1px solid black;
}

#toggleDiv, #saveLoad {
    display: flex;
    justify-content: center;
}

#saveWeights {
    margin-right: 5px;
}

#loadWeights {
    margin-left: 5px;
}

#scoreDiv {
    margin: 55px auto auto auto;
    color: white;
    font-size: 17px;
}

#scoreDiv table, #scoreDiv th, #scoreDiv td {
    border: 1px solid #489ec9;
}

