<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" manifest="/resources/index.cache">
<head>
    <meta charset="UTF-8">
    <title>Team Falcon</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="/css/indexCSS.css"/>


</head>
<body>
<div id="wrapper">

    <div id="loginDiv" th:style="${loginFail} ? 'display:block' : 'display:none'">
        <form action="/user/login" id="logincontent" method="post" modelAttribute="user">
            <span class="closeLoginBox" onclick="closeLogin()">&times;</span>
            <input type="text" name="username" id="loginUsername" placeholder="Enter Username" required>
            <input type="password" name="password" id="loginPassword" placeholder="Enter Password" required>
            <div th:if="${loginFail}">
                Username/Password is incorrect.
            </div>
            <button class="loginSubmit" type="submit">Login</button>
        </form>
    </div>

    <div id="registerDiv" th:style="${registerFail} ? 'display:block' : 'display:none'">
        <form action="/user/register" id="registercontent" method="POST" modelAttribute="user">
            <span class="closeLoginBox" onclick="closeRegister()">&times;</span>
            <input type="text" name="username" id="registerUsername" placeholder="Enter Username" required>
            <div th:if="${userTaken == true}">
                Username is already registered.
            </div>
            <input type="password" name="password" id="registerPassword" placeholder="Enter Password" required>
            <input type="password" name="passwordConfirm" id="registerVerifyPassword" placeholder="Verify Password" required>
            <div th:if="${pwNoMatch == true}">
                Passwords do not match.
            </div>
            <input type="email" name="email" id="registerEmail" placeholder="Enter Email Address" required>
            <input name="admin" style="display: none" value="false">
            <button class="registerSubmit" type="submit">Register</button>
        </form>
    </div>

    <div id="mapheader">
        <ul id="nav">
            <div th:if="${loggedIn == false}">
                <li><a href="#" onclick="goHome()">Home</a></li>
                <li><a href="#" onclick="popupLogin()" id="loginButton">Log In</a></li>
                <li><a href="#" onclick="popupRegister()" id="registerButton">Register</a></li>
            </div>
            <div th:unless="${loggedIn == false}">
                <li><a href="#" onclick="goHome()">Home</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </div>
            <!--<li><a href="#" onclick="goHome()">Home</a></li>-->
            <!--<li><a href="#" onclick="popupLogin()" id="loginButton">Log In</a></li>-->
            <!--<li><a href="#" onclick="popupRegister()" id="registerButton">Register</a></li>-->
            <!--<li><a href="#" id="logoutButton" style="display: none">Logout</a> </li>-->
        </ul>
    </div>

    <div id="infoPopup">
        <p class="precinctInfo" id="population"></p>
    </div>

    <div id="mapid"></div>


    <div id="usercontrol">
        <div id="welcomeDiv">
            <h1 id="welcomeMessage">Welcome <br/> to <br/> Team Falcon's <br/> Project. <br/> Click on/select a state to continue.</h1>
            <select id="stateSelectMenu">
                <option value="colorado">Colorado</option>
                <option value="kansas">Kansas</option>
                <option value="missouri">Missouri</option>
            </select>
            <button id="selectStateSubmit">Go</button>

            <!--<button class="colorChange">Change Color</button>-->
            <!--<button class="connect">Connect</button>-->
        </div>
        <div id="buttons">
            <button class="algoButtons" type="button" id="updateButton" style="margin-right: 20px;">Update</button>
            <button class="algoButtons" type="button" id="runButton">Run</button>
        </div>
        <div id="algorithmChoiceDiv">
            <select id="algorithmChoice">
                <option value="sa">Simulated Annealing</option>
                <option value="rg">Region Growing</option>
            </select>
        </div>
        <div id="measuresContainer">
            <h2 class="measureSliderTitle">Compactness </h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="compactnessSlider" data-thumbwidth="20">
            <output id="compactnessOutput" name="rangeVal">50</output>
            <h2 class="measureSliderTitle">Population</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="populationSlider" data-thumbwidth="20">
            <output id="populationOutput" name="rangeVal">50</output>
            <h2 class="measureSliderTitle">Partisan Fairness</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="partisanFairnessSlider" data-thumbwidth="20">
            <output id="pfOutput" name="rangeVal">50</output>
            <h2 class="measureSliderTitle">Efficiency Gap</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="efficiencyGapSlider" data-thumbwidth="20">
            <output id="egOutput" name="rangeVal">50</output>
        </div>
        <textarea id="summaryBox" readonly>Summary</textarea>



    </div>
</div>

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/us-states.js"></script>
<script src="/js/Colorado.js"></script>
<script src="/js/Kansas.js"></script>
<script src="/js/Missouri.js"></script>
<script src="/js/indexjs.js"></script>
<script src="/js/mapjs.js"></script>

</body>
</html>