<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Falcon</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="/css/indexCSS.css"/>


</head>
<body>
<div id="wrapper">

    <div id="loginDiv">
        <form id="logincontent">
            <span class="closeLoginBox" onclick="closeLogin()">&times;</span>
            <input type="text" placeholder="Enter Username">
            <input type="password" placeholder="Enter Password">
            <button class="loginSubmit" type="submit">Login</button>
        </form>
    </div>

    <div id="registerDiv">
        <form id="registercontent">
            <span class="closeLoginBox" onclick="closeRegister()">&times;</span>
            <input type="text" placeholder="Enter Username">
            <input type="password" placeholder="Enter Password">
            <input type="password" placeholder="Verify Password">
            <button class="loginSubmit" type="submit">Register</button>
        </form>
    </div>

    <div id="mapheader">
        <ul id="nav">
            <li><a href="#" onclick="goHome()">Home</a></li>
            <li><a href="#" onclick="popupLogin()">Log In</a></li>
            <li><a href="#" onclick="popupRegister()">Register</a></li>
        </ul>
    </div>

    <div id="mapid"></div>


    <div id="usercontrol">
        <div id="welcomeDiv">
            <h1 id="welcomeMessage">Welcome <br/> to <br/> Team Falcon's <br/> Project</h1>
        </div>
        <div id="buttons">
            <button class="algoButtons" type="button" style="margin-right: 20px;">Update</button>
            <button class="algoButtons" type="button">Run</button>
        </div>
        <div id="measuresContainer">
            <h2 class="measureSliderTitle">Compactness</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="compactnessSlider">
            <h2 class="measureSliderTitle">Population</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="populationSlider">
            <h2 class="measureSliderTitle">Partisan Fairness</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="partisanFairnessSlider">
            <h2 class="measureSliderTitle">Efficiency Gap</h2>
            <input type="range" min="1" max="100" value="50" class="measureSlider" id="efficiencyGapSlider">
        </div>
        <textarea id="summaryBox" readonly>Summary</textarea>



    </div>
</div>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/us-states.js"></script>
    <script src="/js/continents.js"></script>
    <script src="/js/KS_final.js"></script>
    <script src="/js/Colorado.js"></script>
    <script src="/js/Kansas.js"></script>
    <script src="/js/Missouri.js"></script>
    <script src="/js/indexjs.js"></script>
    <script src="/js/mapjs.js"></script>

</body>
</html>